<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <ion-grid class="reservas-container">
    <ion-row class="reservas-buttons">
      <ion-col size="12" size-md="4">
        <ion-button expand="block" (click)="setView('pending')"> Reservas Pendientes </ion-button>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-button expand="block" (click)="setView('upcoming')"> Próximas Reservas </ion-button>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-button expand="block" (click)="setView('history')"> Historial </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="view === 'pending'" class="reservas-pendientes">
      <ion-col size="12" *ngFor="let reserva of pendingReservations" class="transaction-card">
        <p><strong>{{ reserva.name }}</strong></p>
        <p>{{ reserva.date }}</p>
        <p>{{ reserva.time }}</p>
        <p>{{ reserva.location }}</p>
        <p class="amount">{{ reserva.amount }}</p>
        <div class="status">
          <ion-button size="small" color="success" (click)="acceptReservation(reserva)">Aceptar</ion-button>
          <ion-button size="small" color="danger" (click)="rejectReservation(reserva)">Rechazar</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="view === 'upcoming'" class="proximas-reservas">
      <ion-col size="12" *ngFor="let reserva of upcomingReservations" class="transaction-card">
        <p><strong>{{ reserva.name }}</strong></p>
        <p>{{ reserva.date }}</p>
        <p>{{ reserva.time }}</p>
        <p>{{ reserva.location }}</p>
        <p class="amount">{{ reserva.amount }}</p>
        <div class="status">
          <ion-button size="small" color="danger" (click)="cancelReservation(reserva)">Cancelar</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="view === 'history'" class="historial">
      <ion-col size="12" *ngFor="let reserva of historyReservations" class="transaction-card">
        <p><strong>{{ reserva.name }}</strong></p>
        <p>{{ reserva.date }}</p>
        <p>{{ reserva.time }}</p>
        <p>{{ reserva.location }}</p>
        <p class="amount">{{ reserva.amount }}</p>
        <div class="status">
          <ion-icon
            [name]="reserva.status === 'Completada' ? 'checkmark-circle-outline' : 'close-circle-outline'"
            [style.color]="reserva.status === 'Completada' ? 'green' : 'red'"
          ></ion-icon>
          <span>{{ reserva.status }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
