.reservas-container {
  padding: 1rem;
}

.reservas-buttons ion-col {
  margin-bottom: 1rem;
}

.transaction-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.amount {
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.status ion-icon {
  margin-right: 0.5rem;
}

.status ion-button {
  margin-right: 0.5rem;
}
