<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center whiteLabel">Tus Fotos</h1>
      </ion-col>
      <ion-col size="6" *ngFor="let photo of photos; let i = index">
        <ion-card>
          <h1>Foto</h1>
          <img [src]="photo.url" *ngIf="photo.url" />
          <ion-button *ngIf="!photo.url" (click)="selectPhotoSource(i)"
            >+</ion-button
          >
          <ion-button *ngIf="photo.url" (click)="removePhoto(i)"
            >Eliminar</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center whiteLabel">Tus Videos</h1>
      </ion-col>
      <ion-col size="6" *ngFor="let video of videos; let i = index">
        <ion-card>
          <h1>Video</h1>
          <video [src]="video.url" controls *ngIf="video.url"></video>
          <ion-button *ngIf="!video.url" (click)="addVideo(i)">+</ion-button>
          <ion-button *ngIf="video.url" (click)="removeVideo(i)"
            >Eliminar</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="saveMedia()">Guardar</ion-button>
</ion-content>
