@import "../../../theme/buttons.scss";
@import "../../../theme/forms.scss";

.tittleUser {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.logoHot {
    margin-top: 0vh;
}
.session-buttons{
    margin-top: 3.5rem;
}
