<ion-content [fullscreen]="true" class="background-general-interior">
  <div class="custom-back-container" routerLink="/landing">
    <img src="assets/images/left-chevron.png" alt="Back" class="custom-back-icon">
  </div>  
  <div>
    <img src="/assets/images/Logo.png" class="logoHot" />
    <h1 class="labelBold tittleUser">{{ getClickedButton() }}</h1>
  </div>
  <ion-card class="card-contend">
    <form *ngIf="showLoginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        <p *ngIf="loginForm.get('username')?.errors?.['required']">Usuario es requerido.</p>
      </ion-text>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerida.</p>
      </ion-text>

      <div class="session-buttons">
        <ion-button shape="round" expand="block" type="submit" color="danger" class="ion-margin-bottom" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
        <ion-button shape="round" expand="block" type="button" color="primary">Registrarme</ion-button>
      </div>
      <div class="ion-margin-top">
        <ion-button shape="round" expand="block" type="button" class="button-transparent" [routerLink]="['/reset-password']">Recuperar Contraseña</ion-button>
        <ion-button shape="round" expand="block" type="button" class="button-transparent" (click)="onRecuperarUsuarioClick()">Recuperar usuario</ion-button>
      </div>
    </form>

    <!-- Formulario de recuperación de usuario -->
    <form *ngIf="!showLoginForm" [formGroup]="recuperarUsuarioForm" (ngSubmit)="onSubmitRecuperacion()">
      <div>
        <h1>Recuperación de usuario</h1>
        <p>Estimado usuario, por favor ingresa el correo que tienes registrado para poder enviarte tu usuario</p>
        <ion-item>
          <ion-label position="floating">Correo registrado</ion-label>
          <ion-input formControlName="resetUser" type="email"></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="recuperarUsuarioForm.get('resetUser')?.touched && recuperarUsuarioForm.get('resetUser')?.invalid">
          <p *ngIf="recuperarUsuarioForm.get('resetUser')?.errors?.['required']">Correo es requerido.</p>
          <p *ngIf="recuperarUsuarioForm.get('resetUser')?.errors?.['email']">Correo no es válido.</p>
        </ion-text>
      </div>
      <div class="session-buttons">
        <ion-button shape="round" expand="block" type="submit" color="danger" [disabled]="!recuperarUsuarioForm.valid">Enviar solicitud</ion-button>
        <ion-button shape="round" expand="block" type="button" color="medium" class="ion-margin-top" (click)="onCancelarRecuperacionClick()">Cancelar</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>
