<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <div class="form-container">
    <div class="custom-back-container" routerLink="/profile">
      <img src="assets/images/left-chevron.png" alt="Back" class="custom-back-icon" />
    </div>
    <form [formGroup]="bankInfoForm" (ngSubmit)="save()" class="ion-padding">
      <h1 class="whiteLabel ion-text-center">Información Bancaria</h1>
      <p class="whiteLabel">
        Recuerda que la cuenta bancaria que suministres, debe estar a nombre del
        usuario registrado en la app
      </p>
      <ion-item>
        <ion-label position="floating">Banco</ion-label>
        <ion-select formControlName="bank">
          <ion-select-option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="bankInfoForm.get('bank')?.touched && bankInfoForm.get('bank')?.invalid">
        <p *ngIf="bankInfoForm.get('bank')?.errors?.['required']">
          El banco es requerido.
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Tipo de Cuenta</ion-label>
        <ion-select formControlName="accountType">
          <ion-select-option value="ahorros">Cuenta de Ahorros</ion-select-option>
          <ion-select-option value="corriente">Cuenta Corriente</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger"
        *ngIf="bankInfoForm.get('accountType')?.touched && bankInfoForm.get('accountType')?.invalid">
        <p *ngIf="bankInfoForm.get('accountType')?.errors?.['required']">
          El tipo de cuenta es requerido.
        </p>
      </ion-text>

      <!-- Mostrar/Ocultar Número de Cuenta -->
      <ion-item *ngIf="!isNequi">
        <ion-label position="floating">Número de Cuenta</ion-label>
        <ion-input formControlName="accountNumber" type="number"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="bankInfoForm.get('accountNumber')?.touched && bankInfoForm.get('accountNumber')?.invalid">
        <p *ngIf="bankInfoForm.get('accountNumber')?.errors?.['required']">
          El número de cuenta es requerido.
        </p>
        <p *ngIf="bankInfoForm.get('accountNumber')?.errors?.['pattern']">
          El número de cuenta debe contener solo números.
        </p>
      </ion-text>

      <!-- Mostrar/Ocultar Número de Celular -->
      <ion-item *ngIf="isNequi">
        <ion-label position="floating">Número de Celular</ion-label>
        <ion-input formControlName="phoneNumber" type="number"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="bankInfoForm.get('phoneNumber')?.touched && bankInfoForm.get('phoneNumber')?.invalid">
        <p *ngIf="bankInfoForm.get('phoneNumber')?.errors?.['required']">
          El número de celular es requerido.
        </p>
        <p *ngIf="bankInfoForm.get('phoneNumber')?.errors?.['pattern']">
          El número de celular debe tener 10 dígitos y contener solo números.
        </p>
      </ion-text>

      <ion-button expand="block" shape="round" class="ion-margin-top" color="danger" type="submit"
        [disabled]="!bankInfoForm.valid || isSaving">
        <ion-spinner *ngIf="isSaving" name="crescent"></ion-spinner>
        <span *ngIf="!isSaving">Guardar</span>
      </ion-button>
    </form>
  </div>
</ion-content>
