<ion-content [fullscreen]="true" class="background-general-interior">
  <div class="custom-back-container" routerLink="/entry-form">
    <img
      src="assets/images/left-chevron.png"
      alt="Back"
      class="custom-back-icon"
    />
  </div>
  <div>
    <img src="/assets/images/Logo.png" class="logoHot" />
  </div>
  <div class="ion-text-center text-white">
    <h1>RECUPERAR TU CUENTA</h1>
    <h3>¿Olvidaste tu contraseña?</h3>
    <p>No te preocupes</p>
    <p>Puedes restablecerla ingresando al correo electronico con el que creaste tu cuenta.</p>
    <p>Te enviaremos un codigo de seguridad y tendras 5 minutos para utilizarlo o deberas pedirlo nuevamente</p>
  </div>
  <ion-card class="card-contend ion-margin-top">
    <form [formGroup]="emailForm">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.invalid" class="error-message">
        <p *ngIf="emailForm.get('email')?.errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="emailForm.get('email')?.errors?.['email']">El correo no es válido.</p>
      </div>
      <ion-button expand="block" type="submit" color="danger" [disabled]="emailForm.invalid" class="ion-margin-top">Continuar</ion-button>
    </form>
  </ion-card>
</ion-content>
