.text-white{
    color: #fff
}

.logoHot {
    margin-top: 0vh;
}

ion-item{
    --background: transparent !important;
    --border-color: #fff;
    font-size: 1.1rem;
    ion-label{
        color: #fff;
    }
    ion-input{
        color: #f1a7a7;
    }
}