.balance-container {
  text-align: center;
}

.balance-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.available-balance p {
  margin: 0;
  font-size: 1.2em;
}

.available-balance h2 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.payment-history {
  margin-top: 20px;
}

.transaction-card {
  text-align: center;
  background-color: #f9250976;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
}

.transaction-card-line{
  border-bottom: 1px solid #f9250976;
  background-color: #786b6a31;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
}

.transaction-card p {
  margin: 5px 0;
}

.transaction-card .amount {
  font-weight: bold;
}

.cash-icon{
  font-size: 3rem;
}
