<ion-content
  [fullscreen]="true"
  class="background-general-interior ion-padding"
>
  <div class="custom-back-container" routerLink="/otp-reset-password">
    <img
      src="assets/images/left-chevron.png"
      alt="Back"
      class="custom-back-icon"
    />
  </div>
  <div>
    <img src="/assets/images/Logo.png" class="logoHot" />
    <h3 class="text-white">Ingresa Tu Nueva Contraseña</h3>
  </div>
  <ion-card class="card-contend ion-margin-top">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div
        *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid"
      >
        <small
          *ngIf="passwordForm.get('password')?.errors?.['required']"
          class="error"
          >La contraseña es requerida.</small
        >
        <small
          *ngIf="passwordForm.get('password')?.errors?.['minlength']"
          class="error"
          >La contraseña debe tener 4 dígitos.</small
        >
        <small
          *ngIf="passwordForm.get('password')?.errors?.['maxlength']"
          class="error"
          >La contraseña debe tener 4 dígitos.</small
        >
      </div>

      <ion-item>
        <ion-label position="floating">Confirme Su Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid"
      >
        <small
          *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
          class="error"
          >La confirmación de contraseña es requerida.</small
        >
        <small
          *ngIf="passwordForm.get('confirmPassword')?.errors?.['minlength']"
          class="error"
          >La confirmación de contraseña debe tener 4 dígitos.</small
        >
        <small
          *ngIf="passwordForm.get('confirmPassword')?.errors?.['maxlength']"
          class="error"
          >La confirmación de contraseña debe tener 4 dígitos.</small
        >
        <small *ngIf="passwordForm.errors?.['mismatch']" class="error"
          >Las contraseñas no coinciden.</small
        >
      </div>

      <ion-button expand="full" type="submit" class="ion-margin-top" color="danger" [disabled]="!passwordForm.valid"
        >Guardar Contraseña</ion-button
      >
    </form>
  </ion-card>
</ion-content>
