<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <div class="form-container">
    <div class="custom-back-container" routerLink="/profile">
      <img src="assets/images/left-chevron.png" alt="Back" class="custom-back-icon" />
    </div>

    <form [formGroup]="descriptionForm" (ngSubmit)="save()" class="ion-padding ion-text-center">
      <h1 class="whiteLabel ion-text-center">Información personal</h1>
      <p class="whiteLabel">
        Escribe la descripción que verán los usuarios de Hot Company.<br />
        Recuerda incluir tus servicios, pero no tus tarifas.<br />
        Debes ser lo más específica y explícita posible.
      </p>
      <h3 position="floating" class="whiteLabel ion-margin-top">Descripción</h3>
      <ion-card class="card-contend">
        <ion-item>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <ion-text color="danger"
          *ngIf="descriptionForm.get('description')?.touched && descriptionForm.get('description')?.invalid">
          <p *ngIf="descriptionForm.get('description')?.errors?.['required']">
            La descripción es requerida.
          </p>
        </ion-text>
      </ion-card>
      <ion-button expand="block" color="danger" class="ion-margin-top" shape="round" type="submit"
      [disabled]="!descriptionForm.valid">Guardar</ion-button>
    </form>
  </div>
</ion-content>