<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <div class="welcome-styles ion-text-center ion-margin-top">
    <h1>Bienvenid@</h1>
    <p>Dirección donde prestarás tu servicio</p>
    <div class="location-container">
      <ion-icon name="location-outline"></ion-icon>
      <span *ngIf="location">{{ location }}</span>
      <span *ngIf="!location">Ubicación no disponible</span>
    </div>
    <div class="address-section">
      <ion-button *ngIf="!showAddressForm" expand="block" (click)="toggleAddressForm()" color="danger">Actualizar Dirección</ion-button>
      <div *ngIf="showAddressForm" class="address-form ion-padding">
        <ion-item class="whiteLabel">
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="address" placeholder="Ingresa tu dirección"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="saveAddress()" color="danger">{{ addressSaved ? 'Actualizar Dirección' : 'Guardar Dirección' }}</ion-button>
      </div>
    </div>
    <div class="video-banner">
      <video width="100%" height="auto" autoplay muted loop>
        <source src="../../../assets/video/welcome.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>
</ion-content>
