<ion-content [fullscreen]="true" class="background-general-interior">
  <app-button-menu-toggle></app-button-menu-toggle>
  <ion-grid class="welcome-styles ion-text-center ion-margin-top">
    <ion-row>
      <ion-col size="12">
        <h1>Bienvenid@</h1>
        <p>Dirección donde prestarás tu servicio</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="location-container">
          <ion-icon name="location-outline"></ion-icon>
          <span *ngIf="location">{{ location }}</span>
          <span *ngIf="!location">Ubicación no disponible</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="address-section">
          <ion-button
            *ngIf="!showAddressForm"
            expand="block"
            (click)="toggleAddressForm()"
            color="danger"
            >Actualizar Dirección</ion-button
          >
          <div *ngIf="showAddressForm" class="address-form ion-padding">
            <ion-item class="whiteLabel">
              <ion-label position="floating">Dirección</ion-label>
              <ion-input
                [(ngModel)]="address"
                placeholder="Ingresa tu dirección"
              ></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="saveAddress()" color="danger"
              >{{ addressSaved ? 'Actualizar Dirección' : 'Guardar Dirección'
              }}</ion-button
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="video-banner">
          <div *ngIf="getClickedButton() == 'Worker'">
            <video width="100%" height="auto" autoplay loop>
              <source
                src="../../../assets/video/AppWorkers.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <div *ngIf="getClickedButton() == 'Hotel'">
            <video width="100%" height="auto" autoplay loop>
              <source
                src="../../../assets/video/AppHotel.mp4"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
