.location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
  }
  
  ion-icon {
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
  }
  
  .video-banner {
    width: 100%;
    overflow: hidden;
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .address-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .address-form {
    margin-top: 20px;
  }

  .welcome-styles{
    color: #fff;
  }

  