.tabs-custom {
    --background: #2a0a0a;
    --color: #ffffff;
  }
  
  ion-tab-bar {
    --background: #2a0a0a;
    --color: #ffffff;
  }
  
  ion-tab-button {
    --color-selected: #ffffff;
    --color: #ffffff;
  }
  