<ion-tabs class="tabs-custom">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="balance" routerLink="/balance">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Mi Balance</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications" routerLink="/notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
