<ion-content [fullscreen]="true" class="background-general-interior ion-padding">
  <div class="custom-back-container" routerLink="/reset-password">
    <img
      src="assets/images/left-chevron.png"
      alt="Back"
      class="custom-back-icon"
    />
  </div>
  <div>
    <img src="/assets/images/Logo.png" class="logoHot" />
    <p class="labelOtp">Ingresa el codigo enviado a tu correo electronico</p>

  </div>
  <div class="otp-container">
    <div class="otp-inputs">
      <div class="otp-input" *ngFor="let digit of otpArray; let i = index">
        {{ otpArray[i] || '' }}
      </div>
    </div>
    <div class="number-pad">
      <button class="number-btn" *ngFor="let num of numbers" (click)="addDigit(num)">{{ num }}</button>
      <button class="number-btn" (click)="removeDigit()">⌫</button>
    </div>
  </div>
  <div class="ion-padding">
    <ion-button shape="round" expand="full" color="medium" (click)="requestNewCode()">Solicitar Nuevo Código</ion-button>
    <ion-button class="ion-margin-top" shape="round" expand="full" color="danger" (click)="continue()">Continuar</ion-button>
  </div>
</ion-content>
