@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "src/theme/buttons.scss";
@import "src/theme/forms.scss";

.whiteLabel{
    color: #fff;
}

.labelBold {
    font-weight: bold;
}

.logoHot {
    width: 60%;
    margin: auto 20%;
    margin-top: 10vh;
}

.propertyFunds {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-general-image {
    @extend .propertyFunds;
    background-image: url("assets/images/fondoExterior.png");
}

.background-general-interior {
    @extend .propertyFunds;
    background-image: url("assets/images/GeneralFondoApp.png");
}

.card-contend {
    padding: 1rem;
    width: 90%;
    margin-left: 2vh;
    margin-right: 2vh;
    background: rgb(66 54 54 / 71%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8901960784);
    border-radius: 8px;
    color: rgb(252 252 252);
    text-align: center;
}

/* Estilos globales para las alertas de Ionic */

.propertyAlerts {
    --border-radius: 15px;
    --width: 90%;
    --max-width: 500px;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.propertyButtonClose {
    width: 100%;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    margin: auto;
    color: #fff !important;
    border-radius: 24px;
    height: auto;
    margin-top: 1rem;
    text-transform: uppercase;
    .alert-button-inner.sc-ion-alert-md {
        justify-content: center;
    }
}

.successAlert .alert-wrapper {
    @extend .propertyAlerts;
    --background: rgba(90, 81, 81, 0.849);

    .alert-title.sc-ion-alert-md {
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
    }
    .alert-message.sc-ion-alert-md,
    .alert-input-group.sc-ion-alert-md {
        color: #fff;
    }
    .successAlert .alert-message {
        color: #ffffff;
    }
    .btn-Cerrar {
        @extend .propertyButtonClose;
        background: var(--ion-color-primary);
    }
}

.errorAlert .alert-wrapper {
    @extend .propertyAlerts;
    --background: rgb(59 22 22 / 97%);

    .alert-title.sc-ion-alert-md {
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
    }
    .alert-message.sc-ion-alert-md,
    .alert-input-group.sc-ion-alert-md {
        color: #fff;
    }
    .errorAlert .alert-message {
        color: #ffffff;
    }
    .btn-Cerrar {
        @extend .propertyButtonClose;
        background: var(--ion-color-danger);
    }
}

.warningAlert .alert-wrapper {
    @extend .propertyAlerts;
    --background: rgb(10 10 10 / 80%);

    .alert-title.sc-ion-alert-md {
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
    }
    .alert-message.sc-ion-alert-md,
    .alert-input-group.sc-ion-alert-md {
        color: #fff;
    }
    .warningAlert .alert-message {
        color: #ffffff;
    }
    .btn-Cerrar {
        @extend .propertyButtonClose;
        background: var(--ion-color-medium);
    }
}

//Back-icon

.custom-back-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 10px;
    cursor: pointer;
}

.custom-back-icon {
    width: 35px;
    height: auto;
}

//option butonmenu

.menu-button-custom {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu-button-custom ion-menu-button {
    --color: #801818; /* Color rojo */
    font-size: 2em; /* Aumenta el tamaño del botón */
}

.menu-button-custom ion-icon {
    font-size: 3em; /* Aumenta el tamaño del icono */
    color: #801818; /* Color rojo para el icono */
}
