@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.labelBold {
    font-weight: bold;
}

.logoHot {
    width: 60%;
    margin: auto 20%;
    margin-top: 10vh;
}

.propertyFunds {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-general-image {
    @extend .propertyFunds;
    background-image: url("assets/images/fondoExterior.png");
}

.background-general-interior {
    @extend .propertyFunds;
    background-image: url("assets/images/GeneralFondoApp.png");
}

.card-contend {
    padding: 1rem;
    width: 90%;
    margin-left: 2vh;
    margin-right: 2vh;
    background: rgb(66 54 54 / 71%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8901960784);
    border-radius: 8px;
    color: rgb(252 252 252);
    text-align: center;
}

/* Estilos globales para las alertas de Ionic */

/* Estilos globales para las alertas de Ionic */
.custom-alert {
    --background: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    --border-radius: 15px; /* Bordes redondeados */
    --width: 90%; /* Ancho del alert */
    --max-width: 500px; /* Ancho máximo del alert */
    --height: auto; /* Altura automática */
    --max-height: 80%; /* Altura máxima del alert */
    --header-color: #e91e63; /* Color del header */
    --message-color: #333; /* Color del mensaje */
}

.custom-alert .alert-message {
    font-size: 1.2rem; /* Tamaño de la fuente del mensaje */
}

.custom-alert .alert-button {
    --background: #e91e63; /* Fondo del botón */
    --color: #ffffff; /* Color del texto del botón */
    --border-radius: 8px; /* Bordes redondeados del botón */
    --padding: 10px 20px; /* Padding del botón */
    --font-size: 1rem; /* Tamaño de la fuente del botón */
    --font-weight: bold; /* Peso de la fuente del botón */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
}
