<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">TÉRMINOS Y CONDICIONES</h1>
      <p class="ion-text-justify ion-padding">1.1. La utilización de la App atribuye la condición de usuario del Portal (en adelante, el "Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal en la versión publicada por TGC en el momento mismo en que el Usuario acceda al Portal. En consecuencia, el Usuario debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar el Portal, ya que aquél puede sufrir modificaciones.
        TGC se reserva el derecho de modificar las condiciones de uso de APPHOTCOMPANY, es obligación del Usuario revisar periódicamente las presentes condiciones.
        Las presentes condiciones generales de uso, no excluyen la posibilidad de que determinados servicios del portal, por sus características particulares, sean sometidos, además, a unas condiciones particulares de uso, las cuales, en todo caso, podrán ser consultadas por el usuario antes de su activación.. 
      </p>
      <P class="ion-text-justify ion-padding">1.2. Mayoría de edad del Usuario; Verificación de la edad.
        El acceso a APPHOTCOMPANY está exclusivamente dirigido a mayores de 18 años.</P>
      <ion-button (click)="salir()" expand="block" shape="round" color="warning">
        Acepto terminos y condiciones
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
