<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center">TÉRMINOS Y CONDICIONES</h1>
      <p class="ion-text-justify ion-padding">
        La utilización de la App atribuye la condición de usuario a consultar la
        informacion presentada en el vinculo relacionado e implica la aceptación
        plena de todas y cada una de las disposiciones incluidas en este Aviso
        Legal en la versión publicada por Hot Company en el momento mismo en que
        el Usuario acceda al App. En consecuencia, el Usuario debe leer
        atentamente el presente Aviso Legal en cada una de las ocasiones en que
        se proponga utilizar el App, ya que aquél puede sufrir modificaciones.
        El acceso a APPHOTCOMPANY está exclusivamente dirigido a mayores de 18
        años Recuerda leer atentamente los términos y condiciones, es obligación
        del Usuario revisar periódicamente las presentes condiciones en
        <a
          class="hipervTC"
          href="https://terminosycondiciones.hotcompanyweb.com/"
          >Terminos y condiciones Hot Company</a
        >.
      </p>
      <ion-button
        (click)="salir()"
        expand="block"
        shape="round"
        color="warning"
      >
        Acepto terminos y condiciones
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
